<div id="education" class="p-5"></div>

<h1>Education</h1>

<div class="row d-flex align-items-stretch">
    <div class="col-lg mb-4">
        <div class="card shadow text-dark h-100">
            <div class="card-body">
                <h5 class="card-title">Imperial College London</h5>
                <h6 class="card-subtitle mb-2 text-muted">BSc Mathematics (2018-present)</h6>
                <ul class="card-text ml-n4">
                    <li>Second year grade: 1st class (75.8% average).</li>
                    <li>Current modules include: <ul class="ml-n3">
                        <li>Computational Linear Algebra</li>
                        <li>Stochastic Simulation</li>
                        <li>Numerical Methods for ODEs</li>
                    </ul></li>
                    <li>Previous modules covered include: <ul class="ml-n3">
                        <li>Mathematical Computation (94%),</li>
                        <li>Individual computational (99%) and Group (86%) Projects,</li>
                        <li>Linear Algebra (92%) and Multivariable Calculus (93%).</li>
                    </ul></li>
                </ul>
            </div>

            <ul class="list-group list-group-flush">
                <a class="list-group-item btn btn-block bg-dark btn-dark" href="files/Tuomas_Laakkonen_Transcript.pdf" target="_blank" style="border-top-left-radius: 0; border-top-right-radius: 0">
                        {{ icon("download") }} Full Transcript
                </a>
            </ul>
        </div>
    </div>

    <div class="col-lg mb-4">
        <div class="card shadow text-dark h-100">
            <div class="card-body">
                <h5 class="card-title">Marlborough College</h5>
                <h6 class="card-subtitle mb-2 text-muted">Academic Scholar (2013-2018)</h6>
                <ul class="card-text ml-n4">
                    <li>A Levels: <ul class="ml-n3">
                        <li>4 A*'s and 1 A in Mathematics, Further Mathematics, Computer Science, Physics and Chemistry respectively.</li>
                        <li>A* in an EPQ related to Computer Science and AI.</li>
                    </ul></li>
                    <li> GCSEs: 10 A*s and 2 As including A*s in Mathematics, Computer Science, and triple Science and an A in Electronics. </li>
                </ul>
            </div>
        </div>
    </div>
</div>