<div id="experience" class="p-5"></div>

<h1>Experience</h1>

<div class="card shadow text-dark">
    <div class="card-body">
        <h5 class="card-title">Blueshift Coding</h5>
        <h6 class="card-subtitle mb-2 text-muted">Content Creation Intern (2020 August-October)</h6>
        Created content to be used to teach programming in lessons, clubs, and private tutoring. Responsibilities included:
        <ul class="card-text ml-n4">
            <li> Development of sample code in Python, Processing and Scratch,</li>
            <li> Writing lesson plans and presentations for use by teachers,</li>
            <li> Putting together paper resources and robotics equipment for classes. </li>
        </ul>
    </div>
</div>