<div class="mt-5 mb-5">
<small class="text-muted">
    Designed by Tuomas Laakkonen and built using <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" class="text-light">Bootstrap v4</a>, <a href="https://github.com/twbs/icons/blob/main/LICENSE.md" class="text-light">Bootstrap Icons</a>, and <a href="https://github.com/jquery/jquery/blob/master/LICENSE.txt" class="text-light">jQuery</a>, for which the licenses are linked.
</small>
</div>