<div id="cv" class="p-5"></div>

<div class="jumbotron bg-light shadow text-dark">
    <h1 class="display-4 text-center">Tuomas Laakkonen</h1>
    <p class="lead"></p>
    <p></p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-dark btn-lg" href="files/Tuomas_Laakkonen_CV.pdf" target="_blank" role="button">{{ icon("download") }} Download CV</a>
        <a class="btn btn-dark btn-lg ml-2" href="mailto:tuomas.laakkonen18@imperial.ac.uk" role="button">{{ icon("envelope") }} Contact Me</a>
    </div>
</div>