<nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link navbar-brand mb-0 h1" href="#cv">CV</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link navbar-brand mb-0 h1" href="#projects">
                    Projects
                    <a class="nav-link navbar-brand mb-0 ml-n4 h1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ icon("caret-down-fill") }}
                    </a>
                </a>
                
                <div class="dropdown-menu shadow bg-dark" aria-labelledby="dropdownMenuLink">
                    <a class="nav-link navbar-brand mb-0 ml-2 h1" onclick="document.getElementById('rust').scrollIntoView();">Rust</a>
                    <a class="nav-link navbar-brand mb-0 ml-2 h1" onclick="document.getElementById('haskell').scrollIntoView();">Haskell</a>
                    <a class="nav-link navbar-brand mb-0 ml-2 h1" onclick="document.getElementById('python').scrollIntoView();">Python</a>
                    <a class="nav-link navbar-brand mb-0 ml-2 h1" onclick="document.getElementById('javascript').scrollIntoView();">Javascript</a>
                    <a class="nav-link navbar-brand mb-0 ml-2 h1" onclick="document.getElementById('other').scrollIntoView();">Other</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link navbar-brand mb-0 h1" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link navbar-brand mb-0 h1" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link navbar-brand mb-0 h1" href="#skills">Skills</a></li>
        </div>
    </div>
</nav>