<div id="skills" class="p-5"></div>

<h1>Programming Language Skills</h1>

<div class="list-group shadow">
    <div class="list-group-item">
        <div class="d-flex justify-content-between w-100">
            <div>
                <h5 class="mb-1 text-dark">Rust</h5>
                <h6 class="text-muted">10k+ lines written<br/>3 years experience</h6>
            </div>
            <div>
                <a role="button" class="btn btn-dark h-100 d-flex align-items-center" href="#rust">{{ icon("arrow-up") }} See Projects</a>
            </div>
        </div>
        <p class="text-dark">
            Other projects not listed above include:
            <ul class="ml-n4 mt-n3 text-dark">
                <li>A compiler for a statically-typed systems language with user definable operators and inline assembly,</li>
                <li>An OpenGL project to render text directly on the GPU from Bezier curve data using geometry shaders,</li>
                <li>Interpreters for Basic and Lisp,</li>
                <li>An implementation of the AES encryption system,</li>
                <li>Parsers for various binary formats, including the FAT file system, the Multiboot 2 specification, EDID data and ACPI tables.</li>
            </ul>
        </p>
    </div>
    <div class="list-group-item">
        <div class="d-flex justify-content-between w-100">
            <div>
                <h5 class="mb-1 text-dark">Haskell</h5>
                <h6 class="text-muted">10k+ lines written<br/>3 years experience</h6>
            </div>
            <div>
                <a role="button" class="btn btn-dark h-100 d-flex align-items-center" href="#haskell">{{ icon("arrow-up") }} See Projects</a>
            </div>
        </div>
        <p class="text-dark">Other projects not listed above include:</p>
        <ul class="ml-n4 mt-n3 text-dark">
            <li> A regular expression engine, and a parser combinator library,</li>
            <li> An implementation of Lisp, and a prototype language compiling to C,</li>
            <li> A library to compute exact derivatives of functions automatically, </li>
            <li> A library to compute probability distributions and extrapolate series. </li>
        </ul>
    </div>
    <div class="list-group-item">
        <div class="d-flex justify-content-between w-100">
            <div>
                <h5 class="mb-1 text-dark">Python</h5>
                <h6 class="text-muted">10k+ lines written<br/>6 years experience</h6>
            </div>
            <div>
                <a role="button" class="btn btn-dark h-100 d-flex align-items-center" href="#python">{{ icon("arrow-up") }} See Projects</a>
            </div>
        </div>
        <p class="text-dark">Other projects not listed above include:</p>
        <ul class="ml-n4 mt-n3 text-dark">
            <li> A library extending Python to add algebraic data types using metaclasses, and adding functional programming methods to built-in types. </li>
            <li> A program to derive Markov chains from text data, </li>
            <li> A compiler for a language using LLVM, various Lisp interpreters, </li>
            <li> A program to solve Sudoku puzzles efficiently, </li>
            <li> An art program that uses the touchpad of a Macbook as a drawing tablet. </li>
        </ul>
    </div>
    <div class="list-group-item">
        <div class="d-flex justify-content-between w-100">
            <h5 class="mb-1 text-dark">Others</h5>
        </div>
        <ul class="ml-n4 mt-n1 text-dark">
            <li> Go (3k lines written, 1 year experience): A hobby operating system project. </li>
            <li> Assembly (2k lines written): A Lisp interpreter for x86, a calculator for 6502, and a VGA video generator for AVR, </li>
            <li> Verilog: A CPU using the one instruction set SUBLEQ architecture, and a more traditional 8-bit CPU. </li>
            <li> C: A hobby operating system project. </li>
            <li> C++: An indoor positioning project for Arduino using Wi-Fi, Accelerometer and Barometer data to determine position. Included a GUI component using a resistive touch screen. Developed as part of an Engineering Education Scheme project supervised by Intel. We came first in the south west region and won a CREST Gold award for the project.</li>
        </ul>
    </div>
</div>